

#info_content{
	width:320px;
	position: relative;
	float:left;
	left:0px;
	
}
.info_box, .mail_box, .school_box
{
	position: relative;
	width: 320px;
	float:left;
}

#team_title, #school_title, #mail_title
{
	position: relative;
	float:left;
	width: 300px;
	top:7px;
	margin:0 auto;
	z-index:30;
	padding:0 0 0 10px;
}
#team_more_btn, #mail_more_btn, #school_more_btn{
	position:relative;
	float: right;

	width: 75px;
	height: 36px;
	margin:0 10px 0 0;
	padding: 14px 0 0 0;
	text-align:center;
	
}
.info_text{
	float: left;
	margin:-3px 0 0 0;
	width: 210px;
	
}


#team_title .icon-info{
	position: absolute;
	background: url('../img/common/icon/icon-info.png') no-repeat;
	width: 16px;
	height: 16px;
	top:5px;
}
#mail_title .icon-info{
	position: absolute;
	background: url('../img/common/icon/icon-mail.png') no-repeat;
	width: 16px;
	height: 16px;
	top:5px;
}
#school_title .icon-info{
	position: absolute;
	background: url('../img/common/icon/icon-info.png') no-repeat;
	width: 16px;
	height: 16px;
	top:5px;
}

.black_bg{
	width: 320px;
	height: 36px;
	background-color:#2b2b2b;
	position: relative;
	text-align: center;
	border-top:1px solid #bFbFbF;
	border-bottom:1px solid #bFbFbF;
}

.info_bg{
	width: 310px;
	padding:10px 0 10px 10px;
	margin:0 0 10px 0;
	float:left;
}



















