<!DOCTYPE html>
<html>
<!-- InstanceBegin template="/Templates/master.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Monster War</title>
<!-- InstanceEndEditable -->
<meta charset="utf-8">
</meta>
<meta name="format-detection" content="telephone=no">
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport">
<link type="text_medium/css" rel="stylesheet" href="../media/css/common.css">
</link>
<link type="text_medium/css" rel="stylesheet" href="../media/css/reset.css">
</link>
<script>
</script>
<!-- InstanceBeginEditable name="head" -->
<!--<link type="text_medium/css" rel="stylesheet" href="../media/css/info.css" media="screen and (-webkit-min-device-pixel-ratio:2)">
<link type="text_medium/css" rel="stylesheet" href="../media/css/top1.css" media="screen and (min-device-width:320px)" >-->

<link type="text_medium/css" rel="stylesheet" href="../media/css/info.css">
<link type="text_medium/css" rel="stylesheet" href="../media/css/top.css"  >
<!-- InstanceEndEditable -->
</head>
<body>
<!------------------------ Header part -------------->
<div id="header">
  <div class="space1"></div>
  <div id="topNav">
    <ul>
      <li id="gil_nav">
        <div id="gil">99/859</div>
      </li>
      <li id="warcoin_nav">
        <div id="warcoin">536/425</div>
      </li>
      <li id="stamina_nav">
        <div id="stamina">97/99</div>
      </li>
      <li id="ammo_nav">
        <div id="ammo">445/452</div>
      </li>
      <li id="defense_nav">
        <div id="defense">75/975</div>
      </li>
    </ul>
  </div>
  <div class="hori_line"></div>
  <div id="user_info">
    <div id="user_level"> <span class="text_medium">LVL</span> <span class="number">967</span> </div>
    <div id="user_exp"> <span class="text_medium">EXP</span> <span class="progress_bar"> <span class="level"></span> </span> <span class="number">1009/1999</span> </div>
    <div id="user_monster"> <span class="text_medium">MONSTERS</span> <span class="number">105/142</span> </div>
  </div>
</div>
<!------------------------ Header part --------------> 
<!-- InstanceBeginEditable name="content" --> 
<!------------------------ content part -------------->
<div id="container">
  <div id="master_page_bg_3"></div>
  <div id="toppage_content">
    <div id="user_guide"> <span class="commander_avatar"></span>
      <div id="news_icon_bg"></div>
      <div class="news_icon on blur_img"></div>
      <div id="message1" class=" bg_92 webfont16">
        <div id="commander_guide_bg" class="bg_k_50 blur_img"></div>
        <div class="note_top">In Dow, Highlight One Of The City Detail Marker.</div>
      </div>
      <div id="ad_banner" class="battle_bgcolor">
      <span id="line"></span> 
      <span id="ad_id" class="text_id">
      <img src="../media/img/card/50/m1.png" width="40" height="40"/></span> <span> <span id="ad_title" class="title webfont16_title color_war">20% Discount</span> <br>
        <span id="ad_content" class="webfont14" >New summon monsters!!!</span> </span> </div>
      </div>
    <div id="pic-avatar">
    
    <span class="pic_hd"><img src="../media/img/card/60/q4.jpg" width="64" height="64"/></span><span class="pic_hd"><img src="../media/img/card/60/q4.jpg" width="64" height="64"/></span><span class="pic_hd"><img src="../media/img/card/60/q5.jpg" width="64" height="64"/></span><span class="pic_hd"><img src="../media/img/card/60/q1.jpg" width="64" height="64"/></span><span class="pic_hd"><img src="../media/img/card/60/q2.jpg" width="64" height="64"/></span>
    </div>
    
    <!--bg_50-->
    <div id="" class="big_title title_name_btn border_bt webfont22">
      <div id="team_name">SUPER MONSTERS</div>
      <div class="icon_team"></div>
    </div>
    <div id="groupBtn">
      <div id="lesson_btn"><img src="../media/img/common/button/lesson_btn.png" /></div>
      <div id="match_btn"><img src="../media/img/common/button/match_btn.png" /></div>
      <div id="fusion_btn"><img src="../media/img/common/button/fusion_btn.png" /></div>
      <div id="summon_btn"><img  src="../media/img/common/button/summon_btn.png"/></div>
      <div id="activity_btn"><img src="../media/img/common/button/activity_btn.png" /></div>
    </div>
    
    <!-------------------- Info page start here -------------------------->
    
    <ol id="info_content">
      <li class="wrapp_group info_box">
        <div class="black_bg">
          <div id="team_title" class="webfont18">
            <div class="icon-info"></div>
            <span class="color_1">TEAM INFO</span> <span>[</span> <span class="color_2">11</span> <span>]</span> </div>
        </div>
        <div class="wrapp_bg_1 bg_92">
          <div id="team_more_btn" class="button_off_1 webfont18 ">More
            <div class="wed_spide"> </div>
          </div>
          <div class="info_text webfont16">In Dow, Highlight One Of The City Detail Marker To Global Selection Mode. </div>
        </div>
      </li>
      <li class="wrapp_group mail_box">
        <div class="black_bg">
          <div id="mail_title" class="webfont18">
            <div class="icon-info"></div>
            <span class="color_1">MAIL</span> <span>[</span> <span class="color_2">3</span> <span>]</span> </div>
        </div>
        <div class="wrapp_bg_1 bg_92">
          <div id="mail_more_btn" class="button_off_1 webfont18 ">More
            <div class="wed_spide"> </div>
          </div>
          <div class="info_text webfont16">You received 5 greetings. </div>
        </div>
      </li>
      <li class="wrapp_group school_box">
        <div class="black_bg">
          <div id="school_title" class="webfont18">
            <div class="icon-info"></div>
            <span class="color_1">SCHOOL INFO</span> <span>[</span> <span class="color_2">9</span> <span>]</span> </div>
        </div>
        <div class="wrapp_bg_1 bg_92">
          <div id="school_more_btn" class="button_off_1 webfont18 ">More
            <div class="wed_spide"> </div>
          </div>
          <div class="info_text webfont16">One of the most event that is one of hightleng of the city detal. </div>
        </div>
      </li>
    </ol>
    <div class="space3"></div>
    <div class="clear"></div>
    <!---------------------------------------------------> 
    <!--------------------------------------------------->
    
    <div class="ad_bg blur_img_c bg_92">
      <div class="banner_sidebar">
        <div class="team_color">M</div>
        <div class="team_color_1"></div>
      </div>
      <span> <span id="ad_title_01" class="webfont24 color_3">TEAM MATCH</span> <br>
      <div id="ad_content_01" class="webfont16" >In Dow, Highlight One Of The City Detail Marker Using Return.</div>
      </span> </div>
    <div class="ad_bg bg_92">
      <div class="banner_sidebar">
        <div class="sale_color">S</div>
        <div class="sale_color_1"></div>
      </div>
      <span> <span id="ad_title_02" class="webfont24 color_4">Buy 1, Get 1 FREE</span> <br>
      <div id="ad_content_02" class="webfont16" >Highlight One Of The City Detail Marker Using Mode. </div>
      </span> </div>
    <div class="ad_bg bg_92">
      <div class="banner_sidebar">
        <div class="clock_color">L</div>
        <div class="clock_color_1"></div>
      </div>
      <span> <span id="clock_count" class="webfont24 color_5">23:59:00</span> <br>
      <div id="ad_content_03" class="webfont16" > One Of The City Detail. </div>
      </span> </div>
    <div class="clear"></div>
    <div class="space4"></div>
    
    <!-----------------------------------------------> 
    
  </div>
</div>
<!-- InstanceEndEditable --><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<script src="../media/js/min.js"></script> 
<!-- InstanceBeginEditable name="jsSpace" --><!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd -->
</html>